*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    height: 100vh;
    overflow: hidden;
}

.PuzzleHeadingDiv{
    text-align: center;
    margin-top: 2vh;
}

.PuzzleHeading{
    font-size: 5vh;
    font-weight: bold;
}

.Board{
    height: 358px;
    width: 358px;
    margin: 6vh  auto 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.Fullimage{
    height: 358px;
    width: 358px;
}

.EasyBoardHeigthWidth{
    width: 118px;
    height: 118px;
    border: 0.5px solid white;
}
.MediumBoardHeigthWidth{
    width: 88px;
    height: 88px;
    border: 0.5px solid white;
}
.HardBoardHeigthWidth{
    width: 70px;
    height: 70px;
    border: 0.5px solid white;
}

.Turns_solve{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 4vh;
    margin-top: 2vh;
}

.Fullview i{
    font-size: 22px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    margin-left: 4vw;
    margin-right: 4vw;
}

.solve{
    position: absolute;
    left: 9.5vw;
}
.unsolve{
    position: absolute;
    right: 0.5vw;
}
.fa-eye{
    position: static;
}

.Fullview{
    position: relative;
    text-align: center;
    margin-top: 2vh;
}
.vanish{
    visibility: hidden;
}
.underline{
    text-decoration: underline;
}


.difficulty{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.difficulty p{
    font-size: 4vh;
    margin-left: 6vw;
    margin-right: 6vw;
}

.difficulty p:hover{
    text-decoration: underline;
}

@media screen and (max-width:560px){
    .Board{
        height: 298px;
        width: 298px
    }
    .EasyBoardHeigthWidth{
        width: 98px;
        height: 98px;
    }
    .MediumBoardHeigthWidth{
        width: 73px;
        height: 73px;
    }
    .HardBoardHeigthWidth{
        width: 58px;
        height: 58px;
    }
    .Fullimage{
        height: 298px;
        width: 298px;
    }
}

@media screen and (max-width:750px)
{
    .unsolve{
        position: absolute;
        right: 2vw;
    }
}